<app-loader [loading$]="loading$"></app-loader>
<div
  class="container-fluid"
  style="
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  "
>
  <div class="row">
    <div class="col-12">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <formly-form
          [model]="model"
          [fields]="fields"
          [form]="form"
        ></formly-form>
        <div class="d-flex justify-content-evenly">
          <button
            type="submit"
            class="add-item-button mt-3"
            [disabled]="!form.valid"
          >
            {{ "labels.submit" | translate }}
          </button>
          <button type="button" class="details-button mt-3" (click)="navto()">
            {{ "labels.register" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
