<app-loader [loading$]="loading$"></app-loader>
<div
  class="container-fluid"
  style="
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  "
>
  <div class="row">
    <div class="col-5 col-sm-12">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <formly-form
          [model]="model"
          [fields]="fields"
          [form]="form"
        ></formly-form>

        <button
          type="submit"
          class="add-item-button mt-3"
          [disabled]="!form.valid"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</div>
