<div class="card post-card">
  <div class="img-container">
    @if(post.picture){
    <img
      [src]="imageUrl(post.picture)"
      class="img-container-img"
      alt="Thumbnail"
      (click)="openImageModal()"
    />

    }@else {
    <img
      [src]="'assets/images/no-thumbnail.webp'"
      class="img-container-img"
      alt="Post image"
    />

    }
  </div>

  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.text }}</p>
    @if(post.user){
    <small class="text-muted">
      By {{ post.user.firstName || "Anonymous" }} —
      {{ post.createdAt | date : "short" }}
    </small>
    }
    <div class="mt-3 d-flex align-items-center gap-2">
      <button class="btn btn-outline-primary btn-sm" (click)="toggleLike()">
        👍 {{ likes }}
      </button>
    </div>

    <div class="mt-3">
      <input
        type="text"
        [(ngModel)]="newComment"
        placeholder="Write a comment..."
        class="form-control form-control-sm mb-2"
      />
      <button class="btn btn-sm btn-success" (click)="addComment()">
        Comment
      </button>
    </div>
    @if(post.comments && post.comments.length){
    <ul class="list-group list-group-flush mt-3">
      @for(c of comments; track c){
      <li class="list-group-item p-1" *ngFor="let c of comments">💬 {{ c }}</li>
      }
    </ul>
    }
  </div>
</div>
