<div
  class="modal fade show"
  tabindex="-1"
  style="display: block; background: rgba(0, 0, 0, 0.5)"
  role="dialog"
  aria-labelledby="imagePreviewModalLabel"
  aria-modal="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imagePreviewModalLabel">Image Preview</h5>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="close()"
        ></button>
      </div>
      <div class="modal-body d-flex justify-content-center">
        @if(imageUrl){
        <img
          [src]="imageUrl"
          alt="Preview"
          class="img-fluid"
          style="max-height: 80vh"
        />
        }
      </div>
    </div>
  </div>
</div>
